# yaml-language-server: $schema=https://json.schemastore.org/clang-format.json
---
Language: Cpp
BasedOnStyle: LLVM

AccessModifierOffset: -4
AllowShortFunctionsOnASingleLine: Inline
BinPackArguments: false
BinPackParameters: OnePerLine
BreakBeforeBinaryOperators: NonAssignment
BreakTemplateDeclarations: "Yes"
ColumnLimit: 90
IndentAccessModifiers: false
IndentWidth: 4
PackConstructorInitializers: CurrentLine
PenaltyBreakBeforeFirstCallParameter: 100
PointerAlignment: Left
ReflowComments: IndentOnly
SpaceAfterTemplateKeyword: false
